[Desktop Entry]
Icon=openvpn3-indicator
Name=OpenVPN3 Indicator
Comment=Simple indicator application for OpenVPN3
Exec=/usr/bin/openvpn3-indicator
Terminal=false
Type=Application
Categories=Utility;Network;
MimeType=text/openvpn-config;
StartupNotify=true
X-GNOME-UsesNotifications=true
